@font-face {
  font-family: 'maison-neue';
  src: url('fonts/maisonneue-book.eot?#iefix') format('embedded-opentype'),  url('fonts/maisonneue-book.woff') format('woff'), url('fonts/maisonneue-book.ttf')  format('truetype'), url('fonts/maisonneue-book.svg#maisonneue-book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'maison-neue-mono';
  src: url('fonts/maisonneue-mono.eot?#iefix') format('embedded-opentype'),  url('fonts/maisonneue-mono.woff') format('woff'), url('fonts/maisonneue-mono.ttf')  format('truetype'), url('fonts/maisonneue-mono.svg#maisonneue-mono') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'maison-neue-mono';
  src: url('fonts/maisonneue-mono-italic.eot?#iefix') format('embedded-opentype'),  url('fonts/maisonneue-mono-italic.woff') format('woff'), url('fonts/maisonneue-mono-italic.ttf')  format('truetype'), url('fonts/maisonneue-mono-italic.svg#maisonneue-mono-italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),  url('fonts/proximanova-bold.otf')  format('opentype'),
	     url('fonts/proximanova-bold.woff') format('woff'), url('fonts/proximanova-bold.ttf')  format('truetype'), url('fonts/proximanova-bold.svg#ProximaNova-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('fonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'),  url('fonts/proximanova-semibold.otf')  format('opentype'),
	     url('fonts/proximanova-semibold.woff') format('woff'), url('fonts/proximanova-semibold.ttf')  format('truetype'), url('fonts/proximanova-semibold.svg#proximanova-semibold') format('svg');
  font-weight: 500;
  font-style: normal;
}

body.login{
	background: #f5ede1;	
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'maison-neue-mono', monospace;
}

.login #login h1{
	display: none;	
	height: 0;	
	overflow: hidden;	
}

.login #login{
	width: auto;	
	padding: 0;	
}

.login form#loginform{
	box-shadow: none;
	width: 270px;	
	height: 250px;	
	box-sizing: border-box;
	margin-top: 0;	
	margin-bottom: 0;
	padding: 50px 30px;
}

.login form#loginform p{
	width: 100%;
	text-align: center;	
	float: none;
}

.login form#loginform p input#password_protected_pass{
	margin-top: 10px;
	margin-bottom: 7px;
	box-shadow: none;
	text-align: center; 
	border: 2px solid #3f512a;
	background: #fff;
	color: #3f512a;
	padding: 8px 8px 5px 8px;
}

.login form#loginform p label{
	color: #3f512a;
}

.login form#loginform p label:after{
	content: 'Enter Wedding Date (DDMMYYYY)';
	position: relative;
	display: block;	
	color: #3f512a;	
	width: 100%;
	font-size: 10px;	
	font-style: italic;	
	margin-bottom: 10px;	
}

.login form#loginform p #wp-submit{
	font-family: 'proxima-nova', sans-serif;
	font-weight: 500;	
	letter-spacing: 5px;
	-webkit-font-smoothing: antialiased;
	padding: 18px 50px; 	
	box-shadow: -5px 5px 0px #ffffff;
	color: #fff;	
	background: #3f512a;	
	text-transform: uppercase;	
	border-radius: 0;
	border: 0;
	float: none;
	text-shadow: none;
	height: auto;	
	line-height: normal;
	margin-top: 10px;
}

.login #login_error{
    border: 0;
    box-shadow: none;
    background: #3f512a;
    color: #f5ede1;
    text-align: center;
    font-family: 'maison-neue-mono';
    font-weight: normal !important;
    -webkit-font-smoothing: antialiased;
}