@media screen and (min-width: 640px) and (max-width: 926px){
	#intro{  
		width: 100%;
	    overflow: hidden;
	    margin-bottom: 0;	
	    padding-bottom: 100px;	
	}
	
	.intro-text-wrap{
		padding: 40px 30px 0;	
	}
	
	.intro-text-wrap h4{
		margin-bottom: 20px;	
	}
	
	.intro-text-wrap .button{
		font-size: 22px;
		margin-left: -120px;
		margin-top: 20px;	
	}
}

@media screen and (max-width: 640px){
	.intro-text-wrap{
		padding: 30px;	
	}
	
	.header-nav-wrap{
		float: none !important;	
		width: 100%;
		text-align: center;	
	}
	
	.header-nav-wrap ul{
		width: 100%;	
		overflow: auto;	
	}
	
	.header-nav-wrap ul li{
		float: none;
		display: inline-block;
	}
	
	.header-nav-wrap ul li a{
		padding-left: 15px;
		line-height: 80px;
		padding-right: 15px;	
	}
	
	.intro-text-wrap .button{
		margin-left: 0;	
	}
	
	.button{
		padding: 20px;	
		width: 100%;	
	}
	
	.rsvp-wrap{
		padding: 40px 20px 10px;	
	}
	
	.map-outer{
		padding-left: 0;	
		padding-right: 0;	
		width: 100%;	
		overflow: hidden;	
		margin-top: -60px;	
	}
	
	.map{
		margin-left: -30%;	
		margin-right: -10%;	
		width: 140% !important;	
	}
	
	#location{
		padding-bottom: 40px;	
	}
	
	#registry{
		padding: 50px 0;	
	}
	
	#registry .intro-text p{
		margin-bottom: 30px;	
	}
	
	.button.round{
		margin-left: 30px;
	}
	
	.cool-things-to-do{	
		padding: 0 20px;
		margin-top: 0;	
		margin-bottom: 0;
		box-sizing: border-box;	
		width: 90%;	
	}
	
	.cool-things-to-do.columns{
		padding: 0;
		width: 100%;	
	}	
	
	.cool-things-to-do .item .number{
		margin-right: 25px;	
	}
	
	.cool-things-to-do.active{	
		padding: 40px 10px 30px;	
	}
	
	.cool-open.cross{
		right: -10px;	
		top: -40px;	
		font-weight: 200;
	}
	
	.modal-html-content{
		display: block;	
		width: 100%;	
	}
	
	#registry .small-6:nth-child(2n+1){
		clear: both;	
	}
	
	.product-modal-overlay.active{
		overflow: scroll;
		display: block;	
		padding: 5% 0;	
	}
	
	.product-modal-overlay .product-modal{
		padding-top: 20px;	
	}
	
	.product-modal-overlay .product-modal .image-wrapper{
		padding: 0;	
		margin-bottom: 20px;
	}
	
	.modal-close{
		z-index: 10;	
		right: 10px;	
	}
	
	.product-modal-overlay .product-modal .content-wrapper{
		width: 100%;	
	}
	
	.animation-constrain{
		width: 100%;
	    overflow: hidden;
	    display: block;
	    position: relative;
	    height: 75px;
	    margin-bottom: -82px;
	}
	
	.shark-animation-wrap{
		margin-left: -350px;	
		padding-bottom: 35px;	
	}
	
	.radio-wrapper {
	    line-height: 40px;
	}
	
	.location-wrap{
		width: 100%;
		padding-left: 20px;	
	}
}

@media screen and (max-width: 510px){
	.wpcf7-form p.text{
		margin-bottom: 15px;
	}
	.wpcf7-list-item{
		width: 100%;
		padding-bottom: 10px;
	}
	
	.radio-wrapper{
		line-height: 30px;
	}
}