/*
Theme Name: Brooke & Jesh Theme
Theme URI: http://brookeandjesh.com
Author: Jesh
Description: For our wedding - based on foundation.
Version: 1.0
*/

/*
--------------------------------------------------
Wordpress Styles
--------------------------------------------------
*/

.entry-content img {
	margin: 0 0 1.5em 0;
}

.alignleft, img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
}

.alignright, img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
}

.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}

.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
}

.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
}

.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: 10px;
	margin: 0;
}

.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}

blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
}

blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
}

a {
	outline: none;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition:     all 0.1s ease-out;
	-ms-transition:     all 0.1s ease-out;
	-o-transition:         all 0.1s ease-out;
	transition:         all 0.1s ease-out;
}

a:focus {
  outline: none;
}

/*
--------------------------------------------------
Normal CSS 
--------------------------------------------------
*/

body{
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
	width: 100%;	
	overflow-x: hidden;		
}

body.modal-open{
	overflow: hidden;	
}

.header-nav-wrap ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-nav-wrap ul li{
	float: left;
}

.header-nav-wrap ul li:focus{
	outline: none;
}

.header-nav-wrap ul li a{
	font-size: 14px;
	line-height: 90px;
	padding: 0 20px;
	display: inline-block;
	color: #333;
}

.header-nav-wrap ul li a:hover{
	background: none;
	text-decoration: none;
	color: #f5ede1;
}

.header-nav-wrap ul li:hover ul{
	display: block;
}

.header-nav-wrap ul ul{
	position: absolute;
	z-index: 99;
	display: none;
}

.header-nav-wrap ul ul li a{
	float: left;
	background: #fff;
	border-top: 1px solid #eee;
	line-height: 36px;
	width: 180px;
}

.content-wrap{
	background: #fff;
	min-height: 400px;
}

footer{
	width: 100%;
}

footer.fixed{
	bottom: 0;
	top: auto;
}


.footer-wrap{
	color: #999;
	padding: 20px 0;
}

.footer-nav-wrap ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-nav-wrap ul li{
	float: left;
}

.footer-nav-wrap ul li a{
	font-size: 14px;
	padding: 0 20px;
	display: inline-block;
	color: #999;
}

/*
--------------------------------------------------
Styles 
--------------------------------------------------
*/

h1{
	font-family: 'proxima-nova', sans-serif;
	text-transform: uppercase;	
	font-weight: 700;	
	font-size: 36px;	
	letter-spacing: 12px;	
}

h2{
	font-family: 'maison-neue-mono', serif;
	text-transform: uppercase;	
	letter-spacing: 12px;
}

h3{
	font-family: 'maison-neue-mono', serif;
	text-transform: uppercase;	
}

h4{
	font-family: 'maison-neue-mono', serif;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 4px;		
}

p{
	font-family: 'maison-neue', sans-serif;
	letter-spacing: 0.5px;
	font-size: 14px;		
}

a{
	font-family: 'maison-neue-mono', serif;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-size: 14px;			
}

.button{
	font-family: 'proxima-nova', sans-serif;
	font-weight: 500;	
	letter-spacing: 5px;
	-webkit-font-smoothing: antialiased;
	padding: 22px 70px;	
	box-shadow: -5px 5px 0px #ffffff;
	color: #f5ede1;	
	background: #3f512a;	
	text-transform: uppercase;
	border-radius: none;	
}

.button:hover,
.button:focus{
	color: #f5ede1;	
	background: #3f512a;
	box-shadow: -3px 3px 0px #ffffff;
}

.button.outline{
	background: none;
	border: 2px solid #3f512a;
	color: #3f512a;
}

#intro{
	margin-bottom: 90px;	
}

.intro-text-wrap{
	padding: 100px 45px 0 100px;
}

.intro-text-wrap h1, .intro-text-wrap h4, .intro-text-wrap p{
	color: #3f512a;	
}

.intro-text-wrap h4{
	margin: 20px 0 40px;	
}

.hero-image{
	position: relative;	
}

.shark-animation-wrap{	
	position: absolute;	
	bottom: -43px;
	left: 80%;			
	width: 550px;		
}

.shark-animation-wrap .waves-top{
	width: 100%;	
	height: 50px;	
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;	
	background-repeat: no-repeat;	
	margin-bottom: -28px;	
}

.shark-animation-wrap .waves-bottom{
	width: 100%;		
	height: 50px;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;	
	background-repeat: no-repeat;
	z-index: 10;	
	position: relative;
}

.shark-animation-wrap .waves-bottom-bg{
	width: 100%;		
	height: 50px;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;	
	background-repeat: no-repeat;
	position: absolute;	
	left: 0;
	z-index: 9;
	top: 25px;
}

.shark-animation-wrap .sharks{
	width: auto;
	max-width: 46px;
	position: absolute;		
	z-index: 8;	
	top: 13px;	
	-webkit-animation: backandforth linear 15s 0s;
    -webkit-animation-iteration-count:infinite;
    animation: backandforth 15s linear 0s;
    animation-iteration-count:infinite;
}

.shark-animation-wrap .shark-bg{
	width: auto;
	max-width: 45px;
	position: absolute;		
	z-index: 7;	
	top: 15px;
	-webkit-animation: backandforth linear 15s 0s;
    -webkit-animation-iteration-count:infinite;
    animation: backandforth 15s linear 0s;
    animation-iteration-count:infinite;
}

@-webkit-keyframes backandforth {
	0%{
		left:80%;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		filter: none;
		-ms-filter: none;
	} 
	50%{
		left:20%;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		filter: none;
		-ms-filter: none;
	}
	51%{
		left:20%;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	100%{
		left:80%;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
}

@keyframes backandforth {
	0%{
		left:80%;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		filter: none;
		-ms-filter: none;
	} 
	50%{
		left:20%;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		filter: none;
		-ms-filter: none;
	}
	51%{
		left:20%;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	100%{
		left:80%;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
}

.button.light{
	background: #f5ede1;
	color: #3f512a;
}

.button.light:hover{
	color: #f5ede1;
	background: #3f512a;
}

.intro-text-wrap .button{
	font-size: 22px;
	margin-left: -160px;
	margin-top: 40px;
	z-index: 99;				
}

.rsvp-wrap{
	background: #f5ede1;
	color: #3f512a;
	padding: 60px 76px 35px;	
	max-width: 800px;
	margin: 10px auto 100px;
}
.rsvp-wrap h2{
	color: #3f512a;
	margin-bottom: 40px;	
}

.rsvp-wrap .button{
	padding: 20px 50px;	
	margin-top: 20px;	
}

.rsvp-wrap .button:focus{
	outline: none;
}

.wpcf7-list-item-label{
	margin-right: 18px;	
}

span.wpcf7-list-item{
	margin-left: 0;	
}

.radio-wrapper{	
	line-height: 60px;	
}

input[type="radio"]{
	-webkit-appearance: none;
	border: 2px solid #3f512a;
	width: 20px;
	height: 20px;	
	border-radius: 50%;
	margin: 6px 10px -5px 0;	
	position: relative;	
	cursor: pointer;	
}

input[type="radio"]:focus{
	outline: none;
	box-shadow: none;
}

input[type="radio"]:checked:after{
	background: #3f512a;
	content: '';
	width: 10px;
	height: 10px;
	margin: 3px;	
	position: absolute;	
	border-radius: 50%;
}

input[type="checkbox"]{
	margin: 0 10px -3px;
	appearance: none;
	-webkit-appearance: none;
	border: 2px solid #3f512a;
	width: 17px;
	height: 17px;
	border-radius: 4px;
	background: #fff;
	position: relative;
	cursor: pointer;
}

input[type="checkbox"]:checked:after{
	content: '';
	position: absolute;
	width: 5px;
	height: 10px;
	left: 4px;
	top: 1px;
	border-right: 2px solid #3f512a;
	border-bottom: 2px solid #3f512a;
	-webkit-transform: 	rotate(45deg);
	-moz-transform: 	rotate(45deg);
	-o-transform: 		rotate(45deg);
	-ms-transform: 		rotate(45deg);
	transform: 			rotate(45deg);
}

input[type='text'],
input[type='email'],
textarea{
	border: 0;
	box-shadow: none;
	text-align: center;	
	padding: 16px 25px;
	max-width: 450px;
	margin: 0 auto;	
	letter-spacing: 0.02em;
	height: auto;
	line-height: normal;	
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus{
	box-shadow: none;
	outline: none;
}

textarea{
	min-height: 70px;
	padding-top: 30px;	
	max-height: 140px;
}

.wpcf7-form p.text{
	font-size: 13px;
	margin-bottom: 10px;
}

.location-wrap{
	float: right;
	clear: both;
	width: 300px;
	color: #3f512a;	
	margin-bottom: 30px;		
}

.location-wrap p{
	clear: both;
	margin-top: 20px;		
}

.location-wrap .small-text{
	text-transform: uppercase;	
	font-size: 10px;
	margin-top:  -5px;
	margin-bottom: 5px;	
	font-style: italic;
	font-family: 'maison-neue-mono', serif;
	letter-spacing: 2px;	
}

#location h3{
	letter-spacing: 5px;
	font-size: 23px;
	margin-right: 10px;	
	margin-bottom: 0;
	color: #3f512a;	
	display: inline-block;		
}

.location-wrap h4{
	vertical-align: baseline;
	color: #3f512a;	
	display: inline-block;	
}
.map-wrap .map{
	width: 100%;	
	margin-bottom: -100px;		
}

.button.round{
	width: 168px;	
	height: 168px;
	text-align: center;	
	padding: 0 8px;	
	font-size: 13px;	
	font-weight: 700;	
	line-height: 17px;	
	letter-spacing: 3px;
	box-shadow: -5px 5px 0px #f5ede1; 
}

.button.round:hover{
	box-shadow: -3px 3px 0px #f5ede1;
}

.button.round .text{
	margin: 13px auto 15px;		
}

.button.round .button-subtext{
	font-family: 'maison-neue-mono', serif;
	font-style: italic;
	font-size: 10px;	
	line-height: 25px;	
}

.button.round img{
	display: block;	
	margin: 20px auto 0;		
}

.cool-things-to-do{	
	margin: 50px auto;	
	border: 2px solid rgba(63, 81, 42, 0);
	padding: 0 40px;
	max-width: 600px;	
	height: 0;	
	width: 90%;	
	overflow: hidden;	
	padding: 0 40px;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition:     all 0.1s ease-out;
	-ms-transition:     all 0.1s ease-out;
	-o-transition:         all 0.1s ease-out;
	transition:         all 0.1s ease-out;	
}

.cool-things-to-do.active{	
	border: 2px solid #3f512a;	
	height: auto;		
	overflow: hidden;	
    padding: 60px 50px 30px;	
}

#location .cool-things-to-do h3{
	width: 100%;
	margin-bottom: 30px;		
	display: block;	
}

.cool-things-to-do .item{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.cool-things-to-do .item .number{
	margin-right: 40px;
	font-family: 'maison-neue-mono', serif;
	color: #3f512a;	
	font-size: 13px;	
	margin-top: 2px;
	width: 4%;		
}

.cool-things-to-do .item .text{
	color: #3f512a;	
	width: 96%;	
}

.cool-things-to-do .item .text h4,
.cool-things-to-do .item .text h4 a{
	margin-top: 0;	
	line-height: normal;
	color: #3f512a;	
	font-size: 16px;	
	line-height: 20px;	
	text-decoration: underline;
}

.cool-things-to-do .item p{
	font-size: 12px;
	line-height: 17px;		
}

.cool-open.cross{
	font-size: 40px;
	font-weight: 300;	
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;	
    right: -30px;	
    top: -45px;	
	cursor: pointer;
	color: #3f512a;
}

#registry{
	background: #f5ede1;
	padding: 100px 0;	
}

#registry h2, #registry p{
	color: #3f512a;
}

#registry h2{
	margin-bottom: 30px;	
}

#registry .intro-text p{
	max-width: 700px;
	margin: 0 auto 70px;
}

#registry .medium-3:nth-child(4n+1){
	clear: both;	
}

.product-wrap{
	cursor: pointer;
	margin-bottom: 30px;	
}

.product-wrap .product-image{
	margin-bottom: 20px;	
	background: #fff;	
	padding: 13%;	
	position: relative;	
}

.product-wrap img{
	width: 100%;	
	height: 100%;	
}

.product-wrap p{
	font-size: 13px;
	margin-bottom: 5px;	
}

.product-wrap .allocated-overlay{
	background: rgba(63, 81, 42, 0.80);
	position: absolute;	
	width: 100%;	
	height: 100%;	
	top: 0;	
	left: 0;	
	z-index: 3;	
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    opacity: 0;	
}

.product-wrap .allocated-overlay .allocated-inner{
	width: 100%;	
	text-align: center;	
}

.product-wrap .allocated-overlay .allocated-inner img{
	display: inline-block;	
	width: 28px;
	margin-bottom: 8px;	
}

#registry .product-wrap .allocated-overlay p{
	color: #fff;	
}

.product-wrap.all-allocated .allocated-overlay{
	opacity: 1;	
}

.product-wrap .product-image:after{
	position: absolute;	
	content: 'Click to View';
	font-size: 13px;
	color: #3f512a;	
	text-align: center;	
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
	background: rgba(255, 255, 255, 0.8);
	width: 86%;	
	height: 86%;	
	z-index: 2;	
	top: 7%;	
	left: 7%;
	border: 2px solid #3f512a;	
	opacity: 0;	
}

.product-wrap:hover .product-image:after{
	opacity: 1;	
}

.product-wrap.all-allocated:hover .product-image:after{
	opacity: 0;	
}

.product-wrap .modal-html-content{
	display: none !important;	
}

.product-wrap .modal-buy-overlay{
	display: none !important;	
}

.product-modal-overlay{
	position: fixed;	
	width: 100%;	
	height: 100%;	
	z-index: 100;	
	background: rgba(255, 255, 255, 0.68);
	bottom: 0;	
	left: 0;
    display: none;	
}

.product-modal-overlay.active{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-modal-overlay .overlay-bg{
	position: absolute;	
	width: 100%;	
	height: 100%;
	background: none;
	top: 0;	
	left: 0;
	z-index: 2;	
}

.product-modal-overlay .product-modal{
	width: 90%;	
	max-width: 700px;
	background: #fff;	
	padding: 50px 30px;
	border: 2px solid #3f512a;
	margin: 0 auto;
	position: relative;
	z-index: 3;		
}

.modal-html-content{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    position: relative;	
    justify-content: center;
}

.product-modal-overlay .product-modal .image-wrapper{
	padding: 2%;
	padding-right: 10%;	
}

.product-modal-overlay .product-modal .content-wrapper{
	width: 230%;	
}

.product-modal-overlay .product-modal p, .product-modal-overlay .product-modal h3{
	color: #3f512a;	
}

 .product-modal-overlay .product-modal h3{
	 font-size: 20px;	
 }

.product-modal-overlay .product-modal p.disclaimer{
	font-size: 11px;	
	font-style: italic;
}

.product-modal-overlay .product-modal .button{
	padding: 10px 20px;
	line-height: normal;
	border: 2px solid #3f512a;
	font-size: 15px;	
	letter-spacing: 2px;
	margin-bottom: 0;	
}

.product-modal-overlay .product-modal .button{
	margin-right: 10px;	
}

.product-modal-overlay .product-modal .button.outline{
	margin-right: 0;	
}

.modal-close{
	font-size: 40px;
	font-weight: 300;	
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;	
    right: 13px;	
    top: 5px;	
	cursor: pointer;
	color: #3f512a;	
}

.modal-buy-overlay{
	background: #3f512a;
	width: 100%;	
	height: 100%;	
	position: absolute;	
	top: 0;	
	left: 0;	
	z-index: 10;	
	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: none;
	padding: 40px;
}

.modal-buy-overlay.active{
	display: flex;	
}

.product-modal-overlay .product-modal .modal-buy-overlay h3,
.product-modal-overlay .product-modal .modal-buy-overlay p{
	color: #f5ede1;
	text-align: center;	
}

.product-modal-overlay .product-modal .modal-buy-overlay .button-wrap{
	display: block;	
	width: 100%;
	text-align: center;		
}

.product-modal-overlay .product-modal .modal-buy-overlay .button{
	width: 100%;	
	max-width: 150px;
	display: inline-block;	
	box-shadow: none;
	margin: 0;	
}

.product-modal-overlay .product-modal .modal-buy-overlay .button:hover{
	color: #3f512a;	
	background: #fff;	
}

.footer-wrap p, .footer-wrap a{
	margin-bottom: 0;	
	text-transform: none;	
	font-size: 13px;
	font-family: 'maison-neue', sans-serif;
	color: #3f512a;	
}

.footer-wrap a{
	text-decoration: underline;	
}

.login{
	display: none !important;	
}

.rsvp-wrap .wpcf7-response-output{
	margin: 0;
    padding: 0.8em 1em;
    font-size: 12px;
    border: none !important;
    background: #3f512a;
    color: #f5ede1;
}

span.wpcf7-not-valid-tip{
	margin-top: 10px;
    font-size: 12px;
    color: #3f512a;
    font-style: italic;
}

.flex-wrap{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #3f512a;	
	text-align: center;
}

.flex-wrap img{
	margin-bottom: 30px;
	display: inline-block;
}