@font-face {
  font-family: 'maison-neue';
  src: url('maisonneue-book.eot?#iefix') format('embedded-opentype'),  url('maisonneue-book.woff') format('woff'), url('maisonneue-book.ttf')  format('truetype'), url('maisonneue-book.svg#maisonneue-book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'maison-neue-mono';
  src: url('maisonneue-mono.eot?#iefix') format('embedded-opentype'),  url('maisonneue-mono.woff') format('woff'), url('maisonneue-mono.ttf')  format('truetype'), url('maisonneue-mono.svg#maisonneue-mono') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'maison-neue-mono';
  src: url('maisonneue-mono-italic.eot?#iefix') format('embedded-opentype'),  url('maisonneue-mono-italic.ttf')  format('truetype'), url('maisonneue-mono-italic.svg#maisonneue-mono-italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('proximanova-bold.eot?#iefix') format('embedded-opentype'),  url('proximanova-bold.otf')  format('opentype'),
	     url('proximanova-bold.woff') format('woff'), url('proximanova-bold.ttf')  format('truetype'), url('proximanova-bold.svg#ProximaNova-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('proximanova-semibold.eot?#iefix') format('embedded-opentype'),  url('proximanova-semibold.otf')  format('opentype'),
	     url('proximanova-semibold.woff') format('woff'), url('proximanova-semibold.ttf')  format('truetype'), url('proximanova-semibold.svg#proximanova-semibold') format('svg');
  font-weight: 500;
  font-style: normal;
}

