/************************************************

Stylesheet: Main Stylesheet

*************************************************/

$green: #4c5d2e;

@font-face {
  font-family: 'hk-grotesk';
  src: url('../fonts/HKGrotesk-Medium.eot'), url('../fonts/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/HKGrotesk-Medium.woff') format('woff'), url('../fonts/HKGrotesk-Medium.ttf') format('truetype'), url('../fonts/HKGrotesk-Medium.svg#HKGrotesk-Medium') format('svg'), url('../fonts/HKGrotesk-Medium.otf')  format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: 'hk-grotesk';
  src: url('../fonts/HKGrotesk-Regular.eot'), url('../fonts/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/HKGrotesk-Regular.woff') format('woff'), url('../fonts/HKGrotesk-Regular.ttf') format('truetype'), url('../fonts/HKGrotesk-RegularMedium.svg#HKGrotesk-Regular') format('svg'), url('../fonts/HKGrotesk-Regular.otf')  format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'now-alt';
  src: url('../fonts/NowAlt-Medium.eot'), url('../fonts/NowAlt-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/NowAlt-Medium.woff') format('woff'), url('../fonts/NowAlt-Medium.ttf') format('truetype'), url('../fonts/NowAlt-Medium.svg#NowAlt-Medium') format('svg'), url('../fonts/NowAlt-Medium.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}

/*********************
GENERAL STYLES
*********************/

body{
	-webkit-font-smoothing: anti-aliased;
	font-family: 'hk-grotesk', sans-serif;
}

.clear{
	display: block;
	clear: both;
}

/*********************
LINK STYLES
*********************/
a, a:visited {
	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: 'now-alt', sans-serif;
	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

/*********************
HEADER STYLES
*********************/
header {
	height: auto;
	overflow: auto;
	padding: 45px 45px 0;
	ul.off-canvas-list li {
		list-style: none;
	}
	.logo-wrap{
		cursor: pointer;
		img:hover{
			background-image: url(../images/brooke-logo-bg@2x.png);
			background-image: url(../images/brooke-logo-bg@2x.png);
			background-size: 100%;
			cursor: pointer;
		}
	}
}
    

/*********************
POSTS & CONTENT STYLES
*********************/
.content {
	padding: 60px 0 0 50px;
	max-width: 700px;
	@media (max-width: 640px){
		padding: 50px;
	}
	.loop-article{
		width: 100%;
		float: left;
		margin-right: 40px;
		margin-bottom: 88px;
		a.title{
			display: block;
			width: 100%;
			margin-top: 25px;
			h1{
				font-size: 18px;
				font-weight: normal;
				color: $green;
			}
		}
		.content{
			display: block;
			clear: both;
		}
		.date-wrap{
			float: right;
			margin-top: 25px;
			font-size: 12px;
			color: $green;
		}
		a.read-more{
			float: left;
			clear: both;
			font-weight: 500;
			color: #000;
			font-size: 14px;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 70px;
				border-bottom: 1px solid #000;
			}
		}
	}
}

.post-wrap{
	padding: 20px 0 0 90px;
	max-width: 1000px;
	.article-header{
		overflow: auto;
		display: block;
		margin-bottom: 40px;
		h1{
			font-size: 30px;
			float: left;
			overflow: auto;
		}
		p.byline{
			float: right;
			padding-top: 10px;
		}
	}
	p{
		font-size: 14px;
		letter-spacing: 0.03em;
		line-height: 22px;
	}
	img{
		margin: 70px auto;
		display: block;
	}
}

.single-title,
.page-title {
	
}

.single-title {
	
}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {

}

// Post meta  
.byline {
	color: #999;
	time {}
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	width: 210px;
	position: fixed;
	top: 160px;
	right: 50px;
	text-align: right;
	@media (max-width: 640px){
		display: none;
	}
	a{
		color: $green;
		font-family: 'now-alt', sans-serif;
		font-size: 18px;
		font-weight: normal;
		-webkit-font-smoothing: anti-aliased;
		letter-spacing: 0.02em;
		text-decoration: underline;
	}
	p{
		font-size: 14px;
	}
	.social-wrap{
		text-align: right;
		display: block;
		width: 100%;
		overflow: auto;
		margin-bottom: 60px;
		.social-icon{
			width: 30px;
			background: #000;
			height: 30px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			float: right;
			margin-left: 10px;
		}
	}
	.prof-pic{
		margin-bottom: 30px;
		img{
			border-radius: 50%;
		}
	}
	ul{
		li{
			list-style: none;
			a{
				font-family: 'now-alt', sans-serif;
				font-size: 13px;
				line-height: 30px;
				color: #000;
			}
		}
	}
	.article-single-nav{
		.nav{
			position: relative;
			margin-bottom: 10px;
			a{
				color: $green;
				font-size: 13px;
				font-weight: 500;
				letter-spacing: 0.03em;
				width: 100%;
				line-height: 30px;
			}
			&:before{
				content: '';
				position: absolute;
				left: 0;
				bottom: -2px;
				width: 5px;
				height: 5px;
				border-left: 1px solid $green;;
				border-bottom: 1px solid $green;
				-ms-transform: rotate(45deg); /* IE 9 */
				-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
				transform: rotate(45deg);
			}
			&:after{
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				border-bottom: 1px solid $green;
			}
			&.prev-post{
				text-align: left;
				&:before{
					content: '';
					position: absolute;
					left: auto;
					right: 0;
					bottom: -2px;
					width: 5px;
					height: 5px;
					border-top: 1px solid $green;;
					border-right: 1px solid $green;
					border-bottom: 0;
					border-left: 0;
					-ms-transform: rotate(45deg); /* IE 9 */
					-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
					transform: rotate(45deg);
				}
			}
		}
	}
}

#searchsubmit {
}

.widgettitle {
}

.widget {
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting  
			ul {}

		}
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	padding: 70px 50px 50px;
	color: #a1a1a1;
	font-size: 13px;
	a{
		text-decoration: underline;
		color: #aaa;
	}
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}
